<section>
  <!-- <h1>TARIFS</h1> -->
  <div class="image">
    <img src="assets/flute-piano-violon.jpg" />
  </div>

  <h2>A votre domicile :</h2>
  <p>1h00 : 35€</p>
  <p>1h30 : 45€</p>
  <p>2h00 : 60€</p>
  <p>3h00 : 80€</p>
  <p>
    Pour des cours d’une demi-heure (25€) ou de trois quarts d’heure (30€), me
    contacter directement.
  </p>
  <br />
  <h2>Conditions :</h2>
  <p>Pas de cours à la séance.</p>
  <p>Le règlement se fait en quatre périodes :</p>
  <ul>
    <li>- septembre → vacances de Toussaint,</li>
    <li>- vacances de Toussaint → vacances de Noël,</li>
    <li>- janvier → vacances de printemps,</li>
    <li>- vacances de printemps → juillet.</li>
  </ul>
  <p>Le règlement se fait en début de période.</p>
  <p>
    Si vous déclarez et payez via le CESU (je peux vous expliquer la démarche si
    vous ne connaissez pas ce fonctionnement), le paiement et la déclaration se
    font en début de mois.
  </p>
  <br />
  <p>
    Les cours collectifs sont payés à l’avance pour l’année entière (150€ pour
    dix cours collectifs d'une heure).
  </p>
  <br />

  <h2>Annulations et retards :</h2>
  <h3>Annulation du cours de la part de l’élève :</h3>
  <p>
    Selon mes possibilités de créneau, j'essayerai volontiers de le rattraper
    dans la semaine en cours. Si je n'ai pas de possibilité dans la semaine en
    cours, le cours sera dû.
  </p>
  <p>Si le cours est annulé moins de 48h à l'avance, le cours sera dû.</p>
  <p>Si l’élève est en retard, ce retard ne sera pas rattrapé.</p>
  <h3>Annulation du cours de ma part :</h3>
  <p>
    Le cours sera bien sûr rattrapé ; si impossibilité de ma part, il sera, le
    cas échéant, remboursé.
  </p>
</section>
