<section>
  <!-- <h1>Biographie</h1> -->
  <div class="image">
    <img src="assets/piano-partition.jpg" alt="image d'une partition sur un piano"/>
  </div>
  <p>Née d'une famille de musiciens, je débute le piano vers l'âge de 3 ans.</p>
  <p>
    Pratiquant assidûment cet instrument jusqu'à mes 12 ans, je décide ensuite
    de me tourner vers un autre instrument. Ce sera la flûte traversière, que je
    pratiquerai pendant le collège avant d'arrêter complètement la musique
    durant quelques années, pour m'ouvrir à d'autres musiques... dites "de mon
    âge" !
  </p>
  <br />
  <p>
    Bac en poche, je m'oriente vers le domaine du médico-social. Pendant cette
    période, je redécouvre le piano et la flûte, et je découvre le violon : un
    coup de foudre ! Je pratiquais alors en "amateur", n'ayant à l'époque pas du
    tout envie d'en faire mon métier. Durant mes études, stages et boulots d'été
    (avec les adultes handicapés, en maisons de retraite...), j'ai remarqué à
    quel point la musique était un vecteur de partage, de plaisir, de
    communication en organisant des petits concerts pour les patients et
    résidents.
  </p>
  <br />
  <p>
    La musique, petit à petit, a pris de plus en plus de place dans ma vie. Si
    bien qu'une fois diplômée du domaine social, je me suis lancée dans la voie
    professionnelle. J'ai donc suivi tous les cursus des conservatoires et
    établissements d'enseignement supérieur.
  </p>
  <br />
  <p>
    J'y ai fait des rencontres formidables, mais c'est aussi un milieu difficile
    et très compétitif. Se spécialiser dans plusieurs instruments requiert
    beaucoup de travail... et un bon sens de l'organisation !
  </p>
  <br />
  <p>
    Souvent, je me suis demandée si cela valait la peine d'en faire une
    profession. Le déclic s'est fait quand j'ai commencé à enseigner. Cela m'a
    passionnée ! Autant pour le côté humain (découvrir de nouveaux élèves, et se
    découvrir soi grâce à eux), que pour le côté musical : être son propre élève
    en travaillant son instrument, donner des concerts, retransmettre cette
    richesse en cours, c'est un cercle vertueux formidable !
  </p>
  <br />
  <p>
    Je continue encore régulièrement de prendre des cours d'instrument, car je
    trouve que prendre des cours et en donner constitue un très bel équilibre.
  </p>
</section>
