/* You can add global styles to this file, and also import other style files */
* {
  list-style: none;
  font-family: 'Dancing Script', cursive;
  margin:0;
  padding:0;
  background-color: rgb(252, 209, 177);
  font-size: 1.5rem;
}

img {
 width: 50%;
 border-radius: 10%;
}
.image{
  display: flex;
  justify-content: center;
}
section {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  margin-top: 7vh;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 7vh;
}

h1{
  display: flex;
  justify-content: center;
  color: brown;
  /* font-size: 2rem; */
}