* {
  list-style: none;
  font-family: "Dancing Script", cursive;
  margin: 0;
  padding: 0;
  background-color: rgb(252, 209, 177);
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: brown;
}

img {
  width: 50%;
  border-radius: 10%;
}

.image {
  display: flex;
  justify-content: center;
}

section {
  margin: 11.5vh 1.5vw;
}

h1 {
  display: flex;
  justify-content: center;
  color: brown;
  /* font-size: 1rem; */
}

h2 {
  text-decoration: underline;
}

@media (min-width: 768px) {

  * {
    font-size: 1.3rem;
  }

  h1 {
    font-size: 2rem;
  }

}
