<h1>Cours</h1>
<img src="assets/music-notes.jpg">
<h2>Mon Enseignement</h2>
<p>
  Je donne des cours pour tous les âges et tous les niveaux, et m'adapte à
  chaque élève, selon ses besoins, envies, ambitions...
</p>
<p>
  La formation musicale (théorie de la musique) est incluse dans les cours
  d'instrument.
</p>
<p>
  Je fais en sorte de donner des outils variés à l'élève, que ce soit en termes
  de techniques ou de découvertes musicales.
</p>
<p>
  La pratique régulière de l'instrument en-dehors du cours est essentielle aux
  progrès. Sinon, le risque est de progresser très lentement, voire de ne plus
  progresser du tout : découragement garanti !
</p>
<p>
  Pour finir, la convivialité est quelque chose qui me tient à cœur : le cours
  doit être un bon moment pour le prof et pour l'élève !
</p>
<h2>Répartition des cours :</h2>
<p>
  cours sont répartis de septembre à début juillet. Ils suivent le calendrier
  scolaire.
</p>
<h2>Concerts des élèves :</h2>
<p>
  Il me tient à cœur que les élèves puissent se rencontrer et partager leur
  travail avec le public ! Ainsi, il y a plusieurs projets de concerts dans
  l’année.
</p>
<p>A Noël, le concert se fait sous forme de vidéo.</p>
<p>
  En juin, le concert de fin d’année réunit tous les élèves. Bienveillance et
  bonne humeur garanties, et petit goûter à la fin !
</p>
<p>
  Au cours de l’année, plusieurs projets sont possibles selon les occasions
  (fête de la musique, St Patrick…).
</p>
<h2>Disciplines enseignées :</h2>
<p>
  Flûte traversière, violon, violon alto, piano, formation musicale (théorie de
  la musique au sens large).
</p>
<h2>Cours collectifs :</h2>
<p>
  Ils ne sont pas obligatoires, c'est une option en plus des cours individuels
  (voir Tarifs).
</p>
<p>
  Ils sont possibles en duo, en trio, en quatuor… en fonction de la répartition
  des élèves.
</p>
<p>
  Dix cours (environ un par mois) sont prévus dans l’année. Le planning est
  défini à l’avance (les cours collectifs commencent après la rentrée des
  vacances de la Toussaint).
</p>
